#helloButton{
    -fx-background-color: LightGreen;
}

#goodbyeButton{
    -fx-background-color: LightPink;
}

.button{
    -fx-border-color: Black;
    -fx-font-size: 11pt;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.root{
    -fx-font-size: 11pt;
}
