#helloButton{
    -fx-background-color: LightGreen;
    -fx-border-color: Black
}

#goodbyeButton{
    -fx-background-color: LightPink;
    -fx-border-color: Black
}

.button{
    -fx-font-size: 20;
}
